/* modify header */
.header {
    position: relative;
}

/* modify content */
.content__container {
    border-radius: 8px;
}

/* modify footer */

/* content */

/* breadcrumb */

.breadcrumb-wrapper {
    margin-top: 12px;
    margin-bottom: -8px;
}

.breadcrumb {
    font-size: 1.45rem;
    margin: 0;

    display: flex;
    align-items: center;

}

.breadcrumb__item {
    padding: 0 4px;
}

.breadcrumb__link {
    color: #757575;
    text-decoration: none;

}

.breadcrumb__link:hover {
    text-decoration: underline;
    color: #757575;
}

.breadcrumb__arrow {
    fill: #757575;
}


/* app container */

.content__container {
    background: inherit;
}

.category-side {
    border-radius: 3px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 12px 12px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category__heading-title {
    font-size: 1.6rem;

}

.category__heading-icon {
    font-size: 1.4rem;
    padding: 12px 8px;
}

.category-list {
    margin: 0;
    padding: 4px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #f5f5f5;
    position: absolute;
    top: 0;
    left: 18px;
    right: 18px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    display: block;

    border-width: 4px 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: 18px;
    /* top: 38%; */
    transform: translateY(80%);
    cursor: pointer;
    
    /* background-color: red; */
    
}

.category-item__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 12px 10px 32px;
    display: block;

    position: relative;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -3px;
}

/* soft & filter */

.filter {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 3px;
}

.filter__label {
    font-size: 1.4rem;
    color: #555;
    margin: 0 12px;
} 

.filter__btn {
    margin: 6px;
    font-size: 1.4rem;
    min-width: 95px;
    box-shadow: 0 1px 0.3rem rgba(0, 0, 0, 0.05);
}

.filter__page {
    display: flex;
    align-items: center;
}

/* product item */

.product {
    margin-bottom: 10px;
}

.product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: ease 0.18s;
    position: relative;

    display: block;
    text-decoration: none;
}

.product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-radius: 3px;

    position: relative;
}

.product-item__freeship {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 500;
    padding: 2px 8px;
    color: rgb(113, 87, 237);
    background-color: rgba(236, 233, 253, 0.95);

    border-bottom-left-radius: 3px;
    border-top-right-radius: 8px;

}

.product-item__freeship-icon {
    font-size: 1rem;
    margin-right: 6px;
}

.product-item__name {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 4px;
    overflow: hidden;
    display: block;

    /* giới hạn 2 dòng */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    /* giới hạn 1 dòng */
    /* chỉnh line height: 1.8rem +
    -webkit-line-clamp: 2; */
    
}

.product-item__price {
    margin: 8px 10px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item__price-old {
    font-size: 1.2rem;
    color: #666666;
    text-decoration: line-through;
}

.product-item__price-new {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;
}

.product-item__heart {
    font-size: 1.3rem;
    margin-right: auto;
}

i.product-item__heart-none {
    color: var(--text-color);
}

i.product-item__heart-fill {
    color: rgb(255, 71, 78);
    display: none;
}

/* product-item__hearting */
.product-item__hearting .product-item__heart-none {
    display: none;
}

.product-item__hearting .product-item__heart-fill {
    display: inline-block;
}

.product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: rgb(213, 213, 213);
    margin-top: -1px;
}

.product-item__rating-yellow {
    color: rgb(255, 206, 61);
}

.product-item__info {
    margin: 4px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #595959;
}


.product-item__trust {
    position: absolute;
    top: 10px;
    left: -4px;
    
    background: linear-gradient(45deg, rgb(5, 88, 229), var(--primary-color) );
    color: var(--white-color);
    
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;

    padding: 1px 6px;
    display: flex;
    align-items: baseline;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product-item__trust::before {
    content: "";
    display: block;

    position: absolute;
    bottom: -4px;
    left: 0;
    border-top: 4px solid var(--primary-color);
    filter: brightness(50%);
    /* rgb(5, 73, 192) */
    border-left: 4px solid transparent;

}

.product-item__trust-icon {
    margin-right: 3px;
    font-size: 1rem;
}

.product-item__sale {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    padding-top: 2px;
    text-align: center;
    background-color: rgba(255, 212, 36, 0.95);

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-item__sale::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;
    border-width: 0 20px 7px;
    border-style: solid;
    border-color: transparent rgba(255, 212, 36, 0.95) transparent rgba(255, 212, 36, 0.95);
}

.product-item__sale-percent {
    color: rgb(254, 75, 87);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.product-item__sale-label {
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
