/* https://coolors.co/palettes/trending */

/* modify header */
.header {
    position: relative;
}

/* modify content */
.content__container {
    border-radius: 8px;
}

/* modify footer */

/* content */

/* breadcrumb */

.breadcrumb-wrapper {
    margin-top: 12px;
    margin-bottom: -8px;
}

.breadcrumb {
    font-size: 1.45rem;
    margin: 0;

    display: flex;
    align-items: center;

}

.breadcrumb__item {
    padding: 0 4px;
}

.breadcrumb__link {
    color: #757575;
    text-decoration: none;
}

.breadcrumb__link:hover {
    cursor: context-menu;
}

a.breadcrumb__link:hover {
    text-decoration: underline;
    color: #757575;
}

.breadcrumb__arrow {
    fill: #757575;
    margin: 0 2px;
}


/* app container */

.content__container {
    background: inherit;
}

.search-side {
    border-radius: 8px;
    background-color: var(--white-color);
    margin-right: 4px;
}

.category__heading {
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 16px 8px 8px;
    margin: 0;
}

.category__heading-title {
    font-size: 1.4rem;
    text-transform: capitalize;

}

.category__heading-icon {
    font-size: 1.4rem;
    padding: 0 8px;
}

.category-list {
    margin: 0;
    padding: 4px 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    justify-content: center;

    margin-bottom: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    right: 18px;
}

.category-item__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 12px 4px 28px;
    display: block;

    position: relative;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -2px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
    right: -2px;
    font-weight: 500;
}

.category-item--active .category-item__link::before {
    content: "";
    display: block;

    border-width: 6px 2px;
    border-style: solid;
    border-color: var(--primary-color);
    position: absolute;
    left: 16px;
    /* top: 38%; */
    transform: translateY(35%);
    cursor: pointer;
}

/* soft & filter */

.filter {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    border-radius: 8px;
}

.filter__header {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 16px;
}

.filter__action {
    display: flex;
    align-items: center;
    margin-left: -6px;
}

.filter__btn {
    margin: 6px;
    font-size: 1.45rem;
    min-width: 90px;
    box-shadow: 0 1px 0.3rem rgba(0, 0, 0, 0.05);
    position: relative;
    text-transform: capitalize;
}

.filter__btn:hover {
    color: var(--primary-color);
}

.filter__btn--avtive {
    color: var(--primary-color);
    font-weight: 500;
    position: relative;
}

.filter__btn:hover::before,
.filter__btn--avtive::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.filter__page {
    display: flex;
    align-items: center;
}

/* product item */

.card {
    margin-top: 10px;
    /* border: 1px solid #bdbdbd; */
    padding: 0 0 8px 0;
    overflow: visible;
}

.product__list {
    margin-bottom: 10px;
}

.grid__row {
    width: 100%;
}

.search__row {
    width: calc(100% + 8px);
}

.product__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-radius: 8px;

    position: relative;
}

.product__name {
    margin-top: 4px;
}

.product__react {
    display: flex;
    align-items: center;
}

.product__rating {
    color: var(--text-color);
}

.product__sold {
    margin-left: 8px;
}

.product__price-old {
    text-decoration: line-through;
}

.product__origin {
    font-size: 1.3rem;
    margin-top: 12px;
}

.product__freeship {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 500;
    padding: 2px 8px;
    color: rgb(37, 155, 43);
    background-color: rgba(244, 255, 244, 0.85);

    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;

}

.product__freeship-icon {
    font-size: 1rem;
    margin-right: 6px;
}

.product-item__trust {
    position: absolute;
    top: 10px;
    left: -4px;

    background: linear-gradient(45deg, rgb(40, 112, 40), var(--primary-color));
    color: var(--white-color);

    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;

    padding: 1px 6px;
    display: flex;
    align-items: baseline;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product-item__trust::before {
    content: "";
    display: block;

    position: absolute;
    bottom: -4px;
    left: 0;
    border-top: 4px solid var(--primary-color);
    filter: brightness(50%);
    /* rgb(5, 73, 192) */
    border-left: 4px solid transparent;

}

.product-item__trust-icon {
    margin-right: 3px;
    font-size: 1rem;
}
